<div >
  <h1>룰루섬에 오신 것을 환영합니다.</h1>
	<img src='/banner.jpg'>
	

	<% if !user_signed_in? %>
	<center>
		<div style="width:50%;">
			
		
  <%= link_to "<h4>당장 회원 가입</h4>".html_safe, new_user_registration_path, class: "btn btn-large btn-primary btn-block" %>
  </center>
  <%end%>
</div>