<% if params[:filter] == 'favorit'%>
<h4>찜한 공연 리스트</h4>
<%else%>
<h4>공연 리스트</h4>
<%end%>
<div class="row">
	<div class="span12">
			<div class="row-fluid">
            
            	<% @concerts.each_with_index do |concert, index| %>
            	<%if index%3==0 %> <ul class="thumbnails"> <%end%>
              <li class="span3">
                <div class="thumbnail">
                 <img src='<%= concert.poster%>'>
                 	<div class="caption">
                 		<h4><%= link_to concert.title, new_ticket_path(:concert_id=>concert.id) =%></h4>
                 		<%= concert.description %>
                    </div>
                </div>
              </li>
              <%if index%3==2%> </ul> <%end%> 
             <%end%>
             
              </div>
	</div>

</div>



<br />

<%= link_to 'New Concert', new_concert_path %>
